html,
body {
  height: 100%;
  font-style: "Roboto", sans-serif;
}

#main_container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1608718480168-fb5a0e1fd1c2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}

.panel {
  margin: 20px;
  width: 50%;
  height: 100%;
}
#title_para_container {
  width: 100vw;
  height: 10vh;
  background-image: url("https://images.unsplash.com/photo-1545236303-8642771cc1bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80");
}

#form_container {
  position: sticky;
  top: 0;
  /* background-image: url("https://images.unsplash.com/photo-1545236303-8642771cc1bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"); */
}

#wish_container {
  background-image: url("https://images.unsplash.com/photo-1545236303-8642771cc1bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80S");
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}
/* The title text needs to be in the center */
#title {
  text-align: center;
}
/*  The width is 100 percent on the list to take up the actual space provided.
    Flex & Flex-wrap is to collect multiple variables appropriately instead of expanding the actual webpage.
    We always need the content in the center. 
     */
#list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* The initial border was to ensure pictures stay in the appropriate container */
  /* border: 1px solid red; */
}
.yourcard {
  margin: 10px;
}
.outter_container {
  height: 90%;
  overflow-y: scroll;
}
